
import classes from './{{pascalCase compName}}.module.css';

type {{pascalCase compName}}Props = {
};

export default function {{pascalCase compName}}({}: {{pascalCase compName}}Props) {
  return (
    <div></div>
  );
}

