.previewContainer{
    width: 100%;
    .previewActionContainer{
        flex: 1;
        opacity: 0;
        transition: opacity 100ms linear;
    }


    @mixin hover {
        .previewActionContainer{
            opacity: 1;
        }
    }

}


.collapsedIcon{
    transition: transform 100ms linear;

    &[data-collapsed="true"]{
        transform: rotate(180deg);
    }
}